.bullet-info-data{
    display: inline-block;
    padding: 2px 4px;
    font-size: 10.152px;
    font-weight: bold;
    line-height: 14px;
    color: #fff;
    vertical-align: baseline;
    white-space: nowrap;
    border-radius: 9px;
    padding-left: 9px;
    padding-right: 9px;
    background-color: #d43f3a;
    margin-left: 5px;
}